<div class="jumbotron">
	<h1>Welcome to x Dealership!</h1>
	<p>We keep our current inventory updated here.</p>
	<p><%= link_to 'View Inventory', all_path, :class => 'btn btn-primary btn-lg' %></p>
</div>